body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0074d9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #0074d9;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.card-container {
    display: flex; /* Use flexbox to arrange cards horizontally */
    justify-content: space-between; /* Add space between the cards */
}

.card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px); /* Each card takes 50% width with 10px spacing */
    margin: 10px; /* Add margin for spacing between cards */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.card-description {
    font-size: 1em;
    color: #777;
}

a {
    color: #0078d4; /* Default color (e.g., blue) */
    text-decoration: none; /* Remove underline by default */
}

/* Link styles on hover */
a.hover-link:hover {
    color: #ff5733; /* New color (e.g., orange) when hovering */
}

/* Styles for the entire contact section */
#contact {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Styles for the contact information paragraph */
p#contact-info {
    font-size: 16px;
    color: #333;
}

p#contact-email {
    font-size: 16px;
    color: #333;
}